* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

body {
    background-color: white;
}

.container {
    max-width: 1024px;
    width: 100%;
}

form {
    background-color: white;
    margin-top: 200px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
}

label {
    padding-bottom: 5px;
}

label.error {
    display: block;
    color: red;
    margin-top: 5px;
}

.container button {
    display: flex;
    margin-top: 20px;
}

@media screen and (max-width: 764px) {
    form {
        margin-top: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    form,
    input.form-control,
    .container button {
        font-size: 20px;
    }
}
